
.component--sensor, .snapshot {
  height: auto;
  width: auto;
  max-width: 100%;
  background-color: #e5e5e5;
  position: relative;
}

/* In order to place the tracking correctly */
.snapshot canvas.drawing, .snapshot canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

.snapshot img{
  display: none;
}